.Header {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fcf3ec;
}

.Header__body {
  display: flex;
  align-items: center;
}

.Header__title {
  flex: 1;
  padding: 20px 0;
  font-family: "Lato", Tahoma, Sans-Serif;

  a {
    font-size: 4em;
    font-weight: 400;
    position: relative;
    color: #e55743;
    text-decoration: none;
    display: block;
    padding: 2px;
  }
}

.Header__summary {
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}

@keyframes noise-anim {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip:rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;

  @for $i from 0 through $steps{
    #{percentage($i * (1/$steps))}{
      clip:rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
